/* Variables globales */
:root {
    --main-color: #007bff;
    --accent-color: #28a745;
    --text-color-dark: #333333;
    --text-color-light: #f8f9fa;
    --background-light: #f0f4f8;
    --background-form: #ffffff;
    --border-color: #ced4da;
    --placeholder-color: #6c757d;
}

/* Estilos generales para todos los elementos */
* {
    margin: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-light);
    display: flex;
    align-items: center;
    min-height: 100vh;
}

/* Estilos para el contenedor del formulario */
.form {
    background-color: var(--background-form);
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
    padding: 4.5em 3em;
    border-radius: 10px;
    box-shadow: 0 5px 10px -5px rgba(0, 0, 0, .2);
    text-align: center;
}

/* Estilos para el título del formulario */
.form__title {
    font-size: 2rem;
    margin-bottom: .5em;
    color: var(--text-color-dark);
}

/* Estilos para el párrafo dentro del formulario */
.form__paragraph {
    font-weight: 300;
    color: var(--text-color-dark);
}

/* Estilos para el enlace dentro del formulario */
.form__link {
    font-weight: 400;
    color: var(--main-color);
    text-decoration: none;
}

.form__link:hover {
    text-decoration: underline;
}

/* Estilos para el contenedor de los campos del formulario */
.form__container {
    margin-top: 3em;
    display: grid;
    gap: 2.5em;
}

/* Estilos para el grupo de cada campo del formulario (input y label) */
.form__group {
    position: relative;
    --color: var(--placeholder-color);
}

/* Estilos para los campos de entrada del formulario */
.form__input {
    width: 100%;
    background: none;
    font-family: inherit;
    font-size: 1rem;
    color: var(--text-color-dark);
    padding: .6em .3em;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--border-color);
}

/* Estilos para la etiqueta del formulario cuando el input no tiene placeholder o está enfocado */
.form__input:not(:placeholder-shown)+.form__label,
.form__input:focus+.form__label {
    transform: translateY(-12px) scale(.7);
    transform-origin: top left;
    --color: var(--main-color);
}

/* Estilos para la etiqueta del formulario */
.form__label {
    color: var(--color);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 5px;
    transform: translateY(10px);
    transition: transform .5s, color .3s;
}

/* Estilos para el botón de envío del formulario */
.form__submit {
    background-color: var(--main-color);
    color: var(--text-color-light);
    font-family: inherit;
    font-size: 1rem;
    padding: .8em 0;
    border: none;
    border-radius: .5em;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form__submit:hover {
    background-color: var(--accent-color);
}

/* Estilos para la línea de animación debajo del input */
.form__line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--main-color);
    transform: scale(0);
    transform-origin: left bottom;
    transition: transform .4s;
}

/* Estilos para mostrar la línea debajo del input al enfocar o tener texto */
.form__input:not(:placeholder-shown)~.form__line,
.form__input:focus~.form__line {
    transform: scale(1);
}